@import "../../assets/styles/colors.scss";

.product-list-page {
    font-family: Roboto;
    font-weight: 500;
    font-size: 50px;

    background-color: $bg-dark-gray;
    margin: 10% 10% 10% 10%;
    &__header {
        display: flex;
        &__title {
            width: 75%;
            color: $text-black;
        }
        &__search {
            width: 25%;
        }
    }

    &__products {
        display: flex;
        flex-wrap: wrap;

    }
    
}
