@import "../../assets/styles/colors.scss";

.product-list-page {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;

    background-color: $bg-dark-gray;
    margin: 4% 5% 4% 5%;
    &__header {
        display: flex;
        &__title {
            width: 75%;
            color: $text-black;
        }
        &__search {
            width: 25%;
            font-size: 14px;
            margin: 9px;
        }
    }

    &__products {
        display: flex;
        flex-wrap: wrap;

    }
    
}
