@import "../../../../assets/styles/colors.scss";

.product-card {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;

    width: 22%;
    border: 1px $bg-black solid;
    margin: 1%;
    border-radius: 7px;
    background: $primary-white;
    &__link {
        text-decoration: none;
        color: $text-black;
        &__image {
            display: flex;
            justify-content: center;
        }
        &__info {
            display: flex;
            justify-content: center;
        }
    }
}
