// ---------------------------------------
//          TEXT COLOR
// ---------------------------------------
$text-black: #000000;
$primary-white: #ffffff;
// ---------------------------------------
//          BACKGROUND
// ---------------------------------------
$bg-black: #000000;
$bg-dark-gray: #eeeeee;